* {
    padding: 0;
    margin: 0;
    border: 0;
}

html, body {
    height: 100%;
}
html, body {
    background: -moz-linear-gradient(bottom right, #6edb60, #23a392);
    background: linear-gradient(to bottom right, #97C497, #23a392);
}

h1 {
    font-family: "Comic Sans MS", Times, serif;
    font-size: 50px;
    color: #17695D;
    text-align: center;
    text-shadow: 5px 5px 8px #23a392;
    font-weight: bold;
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

table {
    border: 15px solid #17695D;
    margin: 20px; 
    text-align: center;
    padding: 20px;
    width: 40px;
    box-shadow: 9px 10px 23px -1px rgba(0,0,0,0.75);
}

table , tr, td {
    border: 8px solid #17695D;
    border-radius: 4px;
}


/*Sprite positions*/

.sheep,
.cat,
.dog,
.camel,
.crocodile,
.polar_bear,
.cow,
.horse,
.pig,
.elephant,
.bear,
.giraffe,
.goose,
.cock,
.hen,
.fox,
.wolf,
.elk,
.mouse,
.frog,
.kangaroo,
.ant,
.dragonfly,
.grasshopper,
.owl,
.doe,
.tortoise,
.bee,
.ladybird,
.caterpillar, 
.monkey,
.rabbit,
.hippo,
.fly,
.mosquito,
.butterfly {
    background-image: url(images/big_animal_sprite.png);
    height: 135px;
    width: 135px;
    background-repeat: no-repeat;
}


.sheep {
    background-position: 0 0;
}
.sheep:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}

.cat {
    background-position: -135px 0;
}
.cat:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}

.dog {
    background-position: -270px 0;
}
.dog:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}

.camel {
    background-position: -403px 0;
}
.camel:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}

.crocodile {
    background-position: -540px 0;
}

.crocodile:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.polar_bear {
    background-position: -673px 0;
}

.polar_bear:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.cow {
    background-position: 0 -135px;
}

.cow:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.horse {
    background-position: -135px -135px;
}

.horse:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.pig {
    background-position: -270px -135px;
}

.pig:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.elephant {
    background-position: -403px -135px;
}

.elephant:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.bear {
    background-position: -540px -135px;
}

.bear:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.giraffe {
    background-position: -673px -135px;
}

.giraffe:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.goose {
    background-position: 0 -275px;
}

.goose:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.cock {
    background-position: -135px -275px;
}
.cock:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}

.hen {
    background-position: -270px -275px;
}

.hen:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.fox {
    background-position: -403px -275px;
}

.fox:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.wolf {
    background-position: -540px -275px;
}

.wolf:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.elk {
    background-position: -673px -275px;
}

.elk:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}

.mouse {
    background-position: 0px -415px;
}

.mouse:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}

.frog {
    background-position: -135px -415px;
}

.frog:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.kangaroo {
    background-position: -270px -415px;
}

.kangaroo:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}

.ant {
    background-position: -403px -415px;
}

.ant:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}

.dragonfly {
    background-position: -540px -415px;
}

.dragonfly:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}

.grasshopper {
    background-position: -673px -415px;
}

.grasshopper:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}

.owl {
    background-position: -0px -555px;
}

.owl:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.doe {
    background-position: -135px -555px;
}

.doe:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}

.tortoise {
    background-position: -270px -555px;
}

.tortoise:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}

.bee {
    background-position: -403px -555px;
}

.bee:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.ladybird {
    background-position: -540px -555px;
}

.ladybird:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.caterpillar {
    background-position: -673px -555px;
}

.caterpillar:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}


.monkey {
    background-position: 0px -691px;
}

.monkey:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}

.rabbit {
    background-position: -135px -692px;
}

.rabbit:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.hippo {
    background-position: -270px -691px;
}

.hippo:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.fly{
    background-position: -403px -691px;
}

.fly:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}

.mosquito {
    background-position: -540px -691px;
}

.mosquito:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}
.butterfly {
    background-position: -673px -691px;
}

.butterfly:hover {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}




/*table layout*/

#animal_table {
    background-color: #146d60;
    margin: auto;
    
}

#animal_to_be_guessed {
    text-align: center;
    margin: 20px 100px 20px 100px;
    font-family: "Comic Sans MS", Times, serif;
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: bold;
    width: 80%;
    text-transform: uppercase;
    padding: 25px 25px;
    color: #005059;
    text-shadow: 4px 4px 8px rgba(20, 131, 116, 0.95);
}

.play_again {
    text-align: center;
    margin: 65px;
}

.button {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    width: 200px;
    background-color: #146d60;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 200ms ease-out;
    font-family: "Comic Sans MS", Times, serif;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    color: #97C497;
    cursor: pointer;
    
}

.button:hover {
    color: #28ba39;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#footer_text {
    font-family: "Comic Sans MS", Times, serif;
    font-size: 14px;
    color: #17695D;
    text-align: center;
    text-shadow: 5px 5px 8px #23a392;
    font-weight: bold;
    margin-bottom: 15px;
}


#after {
    font-family: "Comic Sans MS", Times, serif;
    font-size: 20px;
    color: #01373D;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
    text-shadow: 4px 4px 8px rgba(20, 131, 116, 0.95);   
}

