* {
    padding: 0;
    margin: 0;
    border: 0;
}

html, body {
    height: 100%;
}
html, body {
    background: -moz-linear-gradient(bottom right, #6edb60, #23a392);
    background: linear-gradient(to bottom right, #97C497, #23a392);
}

h1 {
    font-family: "Comic Sans MS", Times, serif;
    font-size: 50px;
    color: #17695D;
    text-align: center;
    text-shadow: 5px 5px 8px #23a392;
    font-weight: bold;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
}

table {
    border: 15px solid #17695D;
    margin: 20px; 
    text-align: center;
    padding: 20px;
    width: 40px;
    box-shadow: 9px 10px 23px -1px rgba(0,0,0,0.75);
}

table , tr, td {
    border: 8px solid #17695D;
    border-radius: 4px;
}


/*Sprite positions*/

.sheep,
.cat,
.dog,
.camel,
.crocodile,
.polar_bear,
.cow,
.horse,
.pig,
.elephant,
.bear,
.giraffe,
.goose,
.cock,
.hen,
.fox,
.wolf,
.elk,
.mouse,
.frog,
.kangaroo,
.ant,
.dragonfly,
.grasshopper,
.owl,
.doe,
.tortoise,
.bee,
.ladybird,
.caterpillar, 
.monkey,
.rabbit,
.hippo,
.fly,
.mosquito,
.butterfly {
    background-image: url(images/sprite.png);
    height: 135px;
    width: 135px;
    background-repeat: no-repeat;
}


.sheep {
    background-position: 0 0;
}
.sheep:hover, .cat:hover,.dog:hover, .camel:hover,.crocodile:hover, .polar_bear:hover, .cow:hover, .horse:hover,
.pig:hover, .elephant:hover, .bear:hover, .giraffe:hover, .goose:hover, .cock:hover, .hen:hover, .fox:hover, .wolf:hover, .bear:hover,
.giraffe:hover, .goose:hover, .cock:hover, .hen:hover, .fox:hover, .wolf:hover, .elk:hover, .mouse:hover, .frog:hover,
.kangaroo:hover, .ant:hover, .dragonfly:hover, .grasshopper:hover, .owl:hover, .doe:hover, .tortoise:hover,
.bee:hover, .ladybird:hover, .caterpillar:hover, .monkey:hover, .rabbit:hover, .hippo:hover,
.fly:hover, .mosquito:hover, .butterfly:hover  {
    transform: scale(1.1, 1.1);
    border: 0.8px dotted #17695D;
    outline-style: dotted;
    outline-color: #17695D;
    opacity: 0.9;
}

.cat {
    background-position: -135px 0;
}
 

.dog {
    background-position: -270px 0;
}
 
.camel {
    background-position: -403px 0;
}
 
.crocodile {
    background-position: -540px 0;
}
 
.polar_bear {
    background-position: -673px 0;
}

.cow {
    background-position: 0 -135px;
}

.horse {
    background-position: -135px -135px;
}

.pig {
    background-position: -270px -135px;
}

.elephant {
    background-position: -403px -135px;
}

.bear {
    background-position: -540px -135px;
}

.giraffe {
    background-position: -673px -135px;
}

.goose {
    background-position: 0 -275px;
}

.cock {
    background-position: -135px -275px;
}

.hen {
    background-position: -270px -275px;
}

.fox {
    background-position: -403px -275px;
}

.wolf {
    background-position: -540px -275px;
}

.elk {
    background-position: -673px -275px;
}

.mouse {
    background-position: 0px -415px;
}

.frog {
    background-position: -135px -415px;
}

.kangaroo {
    background-position: -270px -415px;
}

.ant {
    background-position: -403px -415px;
}

.dragonfly {
    background-position: -540px -415px;
}

.grasshopper {
    background-position: -673px -415px;
}

.owl {
    background-position: -0px -555px;
}

.doe {
    background-position: -135px -555px;
}

.tortoise {
    background-position: -270px -555px;
}

.bee {
    background-position: -403px -555px;
}

.ladybird {
    background-position: -540px -555px;
}

.caterpillar {
    background-position: -673px -555px;
}

.monkey {
    background-position: 0px -691px;
}

.rabbit {
    background-position: -135px -692px;
}

.hippo {
    background-position: -270px -691px;
}
 
.fly{
    background-position: -403px -691px;
}

.mosquito {
    background-position: -540px -691px;
}

.butterfly {
    background-position: -673px -691px;
}

/*table layout*/

#animal_table {
    background-color: #146d60;
    margin: auto;
    
}

#animal_to_be_guessed {
    text-align: center;
    margin: 0px 100px 20px 100px;
    font-family: "Comic Sans MS", Times, serif;
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: bold;
    width: 80%;
    text-transform: uppercase;
    padding: 15px 25px;
    color: #005059;
    text-shadow: 4px 4px 8px rgba(20, 131, 116, 0.95);
}

.play_again {
    text-align: center;
    margin: 50px;
}

.button {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    width: 200px;
    background-color: #146d60;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 200ms ease-out;
    font-family: "Comic Sans MS", Times, serif;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    color: #97C497;
    cursor: pointer;
    
}

.button:hover {
    color: #28ba39;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#footer_text {
    font-family: "Comic Sans MS", Times, serif;
    font-size: 14px;
    color: #17695D;
    text-align: center;
    text-shadow: 5px 5px 8px #23a392;
    font-weight: bold;
    margin-bottom: 10px;
}


#after {
    font-family: "Comic Sans MS", Times, serif;
    font-size: 20px;
    color: #01373D;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
    text-shadow: 4px 4px 8px rgba(20, 131, 116, 0.95);   
}

/*menu site navigation*/
.site-nav li {
    list-style: none;
    text-align: center;
    margin: 15px 100px 10px 100px;
    font-family: "Comic Sans MS", Times, serif;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    width: 80%;
    text-transform: uppercase;
    padding: 10px 10px;
    text-shadow: 4px 4px 8px rgba(20, 131, 116, 0.95);
}

.site-nav a {
    text-decoration: none;
    color: #005059;
}
.site-nav ul {
    padding: 15px;
    margin: auto;
}
.navigation {
    margin: 70px auto 40px auto;
    

}

/*menu site pictures*/
#cat-image {
    border: 6px solid #17695D;
    transform: rotate(-20deg);
    position: relative;
    top: -350px;
    right: -30px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}
#cock-image {
    border: 6px solid #17695D;
    transform: rotate(18deg);
    float: right;
    position: relative;
    top: -380px;
    right: 30px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#dog-image {
    border: 6px solid #17695D;
    transform: rotate(-18deg);
    float: right;
    margin-right: 30px;
    position: relative;
    top: -300px;
    right: 60px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#rabbit-image {
    border: 6px solid #17695D;
    transform: rotate(10deg);
    float: right;
    position: relative;
    top: -150px;
    right: -390px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    
}
#bee-image {
    border: 6px solid #17695D;
    transform: rotate(-15deg);
    float: right;
    position: relative;
    top: -90px;
    right:-60px;
    
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#kangaroo-image {
    border: 6px solid #17695D;
    transform: rotate(22deg);
    position: relative;
    top: -20px;
    left: -70px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#grasshopper-image {
    border: 6px solid #17695D;
    transform: rotate(-12deg);
    position: relative;
    top: -100px;
    left: -60px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#tortoise-image {
    border: 6px solid #17695D;
    transform: rotate(-35deg);
    position: relative;
    top: -270px;
    left: -250px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/*home icon*/
#home-icon {
    position: relative;
    top: -150px;
}